<!DOCTYPE html>
<html>
  <head>
    <title>Smart Steel Technologies Task</title>
      <style>
        .container {
        margin-top: 40px;
        }

        .btn-primary {
          width: 100%;
        }
        .required {
            color: red;
        }
      </style>
  </head>
  <body>
        <div class="container">
          <div class="panel panel-primary">
            <div class="panel-heading">Error Occured, sorry for the inconvenience:</div>
              <div class="panel-body">
                    <p> {{msg}}.</p>
                    <p> Please reach out to your Administrator, for further help.</p>
              </div>
           </div>
        </div>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/momentjs/2.14.1/moment.min.js"></script>
<!--        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  </body>
</html>
