<!DOCTYPE html>
<html>
  <head>
    <title>Smart Steel Technologies Task</title>
      <style>
        .container {
        margin-top: 40px;
        }

        .btn-primary {
          width: 100%;
        }
        .required {
            color: red;
        }
      </style>
  </head>
  <body>
      <form action="/result" method="POST">
        <div class="container">
          <div class="panel panel-primary">
            <div class="panel-heading">Search temperature details from database:</div>
              <div class="panel-body">
                 <div class="row">
                    <div class="col-md-6">
                       <div class="form-group">
                          <label class="control-label">First Name<span class="required">*</span></label>
                          <input type="text" class="form-control" name="fname" id="fname" required>
                       </div>
                    </div>
                    <div class="col-md-6">
                       <div class="form-group">
                          <label class="control-label">Last Name<span class="required">*</span></label>
                          <input type="text" class="form-control" name="lname" id="lname" required>
                       </div>
                    </div>
                 </div>
                 <div class="row">
                    <div class="col-md-6">
                       <div class="form-group">
                          <label class="control-label">Start Time<span class="required">*</span></label>
                          <div class='input-group date' id='datetimepicker1'>
                             <input type='text' class="form-control" name="start_time" id="start_time" required/>
                             <span class="input-group-addon">
                             <span class="glyphicon glyphicon-calendar"></span>
                             </span>
                          </div>
                       </div>
                    </div>
                    <div class='col-md-6'>
                       <div class="form-group">
                          <label class="control-label">End Time<span class="required">*</span></label>
                          <div class='input-group date' id='datetimepicker2'>
                             <input type='text' class="form-control" name="end_time" id="end_time" onblur="compare();" required/>
                             <span class="input-group-addon">
                             <span class="glyphicon glyphicon-calendar"></span>
                             </span>
                          </div>
                       </div>
                    </div>
                </div>
                <input type="submit" class="btn btn-primary" value="Search">
              </div>
           </div>
        </div>
      </form>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script language="JavaScript" type="text/javascript">
          $(function () {
                $('#datetimepicker1').datetimepicker({ format: 'YYYY-MM-DD HH:mm:ss' });
                $('#datetimepicker2').datetimepicker({ format: 'YYYY-MM-DD HH:mm:ss' });
            });
          function compare()
                {
                    var startDt = document.getElementById("start_time").value;
                    var endDt = document.getElementById("end_time").value;

                    if( (new Date(startDt).getTime() > new Date(endDt).getTime()))
                    {
                        window.alert("Start Time must be smaller than End Time!!!");

                    }
                }
       </script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/momentjs/2.14.1/moment.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  </body>
</html>
